.container {
  display: flex;
  gap: 20px;
}

.link {
  display: inline-flex;
  padding: 10px 20px;
  margin: 10px;
  background-color: aliceblue;
  border-radius: 10px;
}

.link:hover {
  background-color: aqua;
}

.active {
  background-color: yellow;
}
